.about {
  padding: 24px 0 36px;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 36px;
  }

  &__title {
    max-width: 420px;
  }

  &__text {
    max-width: 520px;
    font-size: 14px;
    line-height: 1.25;
  }

  &__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 24px 0;

    &__top {
      display: block;
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      font-size: 12px;
    }

    &__image {
      height: 230px;
      border-radius: 8px;
    }
  }
}