.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;

  &--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__content {
  position: absolute;
  top: 28px;
  left: 50%;
  width: 190px;
  max-width: calc(100vw - 32px);
  padding: 28px 24px;
  background: $color-white;
  transform: translateX(-50%);
}

  &__close {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 18px;
    color: $color-black;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    font-size: 13px;
    color: #777;

    &--active {
      color: $color-black;
      text-decoration: underline;
    }
  }
}